table.chessboard td {
    width: 52px;
    height: 52px;
    border: 1px solid black;
}

table.chessboard td.light {
    background-color: beige;
}

table.chessboard td.lightselected {
    background-color: white;
}

table.chessboard td.dark {
    background-color: brown;
}

table.chessboard td.darkselected {
    background-color: black;
}
